{% extends "::base.html.twig" %}

 {% block stylesheets %}
     {{ parent() }}
     <link type="text/css" rel="stylesheet" href="{{ asset('css/bolum__test/bolum__test.css') }}"/>
     <style>
         #category_id_suylom_id_tuura_variant_index{
             display: none;
         }
        .bolum__test__footer{
            display: none;
        }
         .checkmark{
             display: none;
         }
         ul.checkmark li {

             font-size: 60px;
             margin-bottom: 1em;
             list-style-type: none;
             padding: 0.25em 0 0 2.5em;
             position: relative;
             float: left;
         }
         ul.checkmark li:before {
             content: " ";
             display: block;
             border:  solid 0.8em #FFFFFF;
             border-radius: 0.8em;
             height: 0;
             width: 0;
             position: absolute;
             left: 0.5em;
             top: 40%;
             margin-top: -0.5em;
         }
         ul.checkmark li:after {
             content: " ";
             display: block;
             width: 0.3em;
             height: 0.6em;
             border: solid #8DBC01;
             border-width: 0 0.2em 0.2em 0;
             position: absolute;
             left: 1em;
             top: 40%;
             margin-top: -0.2em;
             -webkit-transform: rotate(45deg);
             -moz-transform: rotate(45deg);
             -o-transform: rotate(45deg);
             transform: rotate(45deg);
         }
         .close-button {
             display: none;
             float: left;
             margin-right: 10px;
             -webkit-box-sizing: content-box;
             -moz-box-sizing: content-box;
             box-sizing: content-box;
             width: 0.75em;
             height: 0.75em;
             position: relative;
             border: none;
             -webkit-border-radius: 1em;
             border-radius: 1em;
             font: normal 8em/normal Arial, Helvetica, sans-serif;
             color: rgba(0,0,0,1);
             -o-text-overflow: clip;
             text-overflow: clip;
             background: white;
         }

         .close-button::before {
             display: inline-block;
             -webkit-box-sizing: content-box;
             -moz-box-sizing: content-box;
             box-sizing: content-box;
             width: 0.45em;
             height: 0.1em;
             position: absolute;
             content: "";
             top: 0.33em;
             left: 0.155em;
             border: none;
             font: normal 100%/normal Arial, Helvetica, sans-serif;
             color: rgba(0,0,0,1);
             -o-text-overflow: clip;
             text-overflow: clip;
             background: red;
             text-shadow: none;
             -webkit-transform: rotateZ(45deg)   ;
             transform: rotateZ(45deg)   ;
         }

         .close-button::after {
             display: inline-block;
             -webkit-box-sizing: content-box;
             -moz-box-sizing: content-box;
             box-sizing: content-box;
             width: 0.45em;
             height: 0.1em;
             position: absolute;
             content: "";
             top: 0.33em;
             left: 0.155em;
             border: none;
             font: normal 100%/normal Arial, Helvetica, sans-serif;
             color: rgba(0,0,0,1);
             -o-text-overflow: clip;
             text-overflow: clip;
             background: red;
             text-shadow: none;
             -webkit-transform: rotateZ(-45deg)   ;
             transform: rotateZ(-45deg)   ;
         }
         #timer{
             height:25px ;

         }
         #alertTitleTime{
             text-align: center;
             font-weight:bold ;
             font-size: 130%;
             /*font-style: italic;*/
             color: red;
         }
         #alertContentTime{
             font-style: italic;
         }

     </style>

 {% endblock %}

{% block body %}


    <section class="kategory__block bolum__test">
        <div class="container">
            <div class="bolum__block bolum__test__block">
                <div class="kategory__content">
                    <div class="foto_time">
                        <div class="foto_time__color" id="foto" ></div>
                    </div>
                    <div id="timer"></div>
                    <div class="bolum__test__question">Выбери правильный ответ</div>
                    <div class="bolum__test__suylom">{% for suylom in suylom %}
                         {{ suylom }}
                        {% endfor %}</div>
                    <div class="bolum__test__select">
                        <form action="#" method="GET" enctype="multipart/form-data">
                            <div class="bolum__test__radio">
                                <div class="bolum__test__in">
                                    <input class="radio" type="radio" id="radio0" name="noname" value="{{ varuant[0] }}"/>
                                    <label for="radio0">{{ varuant[0] }}</label>
                                </div>
                                <div class="bolum__test__in">
                                    <input class="radio" type="radio" id="radio1" name="noname" value="{{ varuant[1] }}"/>
                                    <label for="radio1">{{ varuant[1] }}</label>
                                </div>
                            </div>
                            <div class="bolum__test__radio">
                                <div class="bolum__test__in">
                                    <input class="radio" type="radio" id="radio2" name="noname" value="{{ varuant[2] }}"/>
                                    <label for="radio2">{{ varuant[2] }}</label>
                                </div>
                                <div class="bolum__test__in">
                                    <input class="radio" type="radio" id="radio3" name="noname" value="{{ varuant[3] }}"/>
                                    <label for="radio3">{{ varuant[3] }}</label>
                                </div>
                            </div>
                            <a id="butId" href="#footer" >
                                <div class="bolum__test__btn">
                                    <input onclick="return false" class="test__submit__one" type="submit" value="проверить"/>
                                </div>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bolum__test__footer">
        <div class="container" id="footer">
            <div class="bolum__test__check">
                <div class="close-button"></div>
                <div class="bolum__test__info">правильный ответ</div>
                <ul class="checkmark">    <li></li>   </ul>
                <div class="bolum__test__true">окуйт</div>
            </div>
            <div class="bolum__test__check__btn">
                <input class="bolum__test__check__btn__in" type="submit" value="дальше"/>
            </div>
        </div>
    </section>

    <div id="category_id_suylom_id_tuura_variant_index">
        <input id="category_id" type="text" value="{{bolum__test.category.id}}" placeholder="{{bolum__test.category.id}}">
        <input id="suylom_id" type="text" value="{{ bolum__test.id }}" placeholder="{{ bolum__test.id }}">
        <input id="tuura_variant_index" type="text" value="{{ tuura_variant_index }}" placeholder="{{ tuura_variant_index }}">
        <input id="count" type="text" value="{{ count}}" placeholder="{{ count }}">
        <input id="counter" type="text" value="{{ counter}}" placeholder="{{ counter }}">
        <input id="totalCount" type="text" value="{{ totalCount}}" placeholder="{{ totalCount }}">

    </div>



{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('js/bolum/bolum__test.js') }}"></script>
    <script language = "javascript">
        function success_sound() {
            var path="{{ asset('sounds/success.mp3')}}";
            var audio = new Audio(); // Создаём новый элемент Audio
            audio.src = path; // Указываем путь к звуку "клика"
            audio.autoplay = true; // Автоматически запускаем
        }
        function error_sound() {
            var path="{{ asset('sounds/error.mp3')}}";
            var audio = new Audio(); // Создаём новый элемент Audio
            audio.src = path; // Указываем путь к звуку "клика"
            audio.autoplay = true; // Автоматически запускаем
        }



    </script>


{% endblock %}

